[Desktop Entry]
Name=qt-fsarchiver
Name[de_DE]=qt-fsarchiver
Comment=Qt GUI for fsarchiver
Exec=/usr/sbin/qt-fsarchiver
Icon=/usr/share/app-install/icons/harddrive2.png
Terminal=false
Type=Application
StartupNotify=true

